.Toastify__toast-body {
  font-family: "Almarai";
}
.ant-image-preview-img {
  display: initial !important;
}
.ant-upload-list {
  display:flex;
  justify-content: center;
}
.ant-upload-list-item-name{
  word-wrap: break-word;
  word-break: break-all;
  display: none;
}
.player-wrapper {
  position: relative;
  padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}
.custom-shape-divider-top-1615563565 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1615563565 svg {
  position: relative;
  display: block;
  width: calc(106% + 1.3px);
  height: 48px;
}

.custom-shape-divider-top-1615563565 .shape-fill {
  fill: #FFFFFF;
}

.ant-carousel .slick-next {
  right:0px  !important;
  height:100px;
  z-index:9999
}

[style*="--aspect-ratio"] > :first-child {
  width: 100%;
}
[style*="--aspect-ratio"] > img {  
  height: auto;
} 
@supports (--custom:property) {
  [style*="--aspect-ratio"] {
    position: relative;
  }
  [style*="--aspect-ratio"]::before {
    content: "";
    display: block;
    padding-bottom: calc(100% / (var(--aspect-ratio)));
  }  
  [style*="--aspect-ratio"] > :first-child {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }  
}


body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
background-color: darkgrey;
outline: 1px solid slategrey;
}

.table-striped-rows tr:nth-child(2n) td {
  background-color: #fbfbfb;
}
.table-striped-rows thead {
  background-color: #f1f1f1;
}

.react-quiz-container .selection-tag, .react-quiz-container .number-of-selection{
  padding:2px;
  font-size: small;
  display: none;
}
.react-quiz-container {
  width: auto  !important;
}

/* certification css*/
